.main-btn {
  width: 233px;
  height: 45px;
  box-shadow: 0 8px 24px rgba(197, 11, 158, 0.18);
  border: none;
  border-radius: 23px;
  background-color: #ec1fc0;
  color: #ffffff;
  font-family: 'Gilroy Regular';
  font-size: 16px;
  margin-bottom: 30px;

  &:hover {
    background-color: transparent;
    border: 1px solid #ec1fc0;
  }
}

.booking-btn {
  width: 290px;
  height: 55px;
  border: none;
  border-radius: 28px;
  background-color: #ec1fc0;
  color: #ffffff;
  font-family: 'Gilroy-bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  
  &:hover {
    background-color: transparent;
    border: 1px solid #ec1fc0;
  }
}

@media screen and (min-width: 800px) {
  .main-btn {
    width: 253px;
    height: 65px;
    border-radius: 35px;
    font-size: 22px;
  }
}
